/*О себе*/
.content-about{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 100vh;
}
.mobile{
     display: block;
    font-size: 1.5vh;
 }
/*Заголовок первый*/
.about-love-title{
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: end;
    justify-self: end;
}
.about-love-title h1{
    font-size: 2.5vh;
}
/*заголовок второй*/
.about-hate-title{
    grid-column: 6/8;
    grid-row: 1/2;
    align-self: end;
    justify-self: start;
}
.about-hate-title h1{
    font-size: 2.5vh;
}
/*наполенение первого*/
.about-love-context{
    grid-column: 1/3;
    grid-row: 2/7;
    justify-self: end;
}
.about-love-context table{
    height: 66vh;
    padding-top: 2vh;
}
/*наполнение второго*/
.about-hate-context{
    grid-column: 6/8;
    grid-row: 2/7;
    justify-self: start;
}
.about-hate-context table{
    height: 66vh;
    padding-top: 2vh;
}
/*График*/
.about-chart{
    grid-column: 3/6;
    grid-row: 2/7;
}

.about-chart-left{
    display: inline-block;
    text-align: -webkit-right;
    text-align: -moz-right;
}
.about-chart-left div{
    background: forestgreen;
    margin: 1.5vh 0;
    height: 7.7vh;
}
.about-chart-left div:nth-child(1){width: 18vw; height: 1px; margin: 0 0 2vh}
.about-chart-left div:nth-child(2){width: 17vw;}
.about-chart-left div:nth-child(3){width: 15vw;}
.about-chart-left div:nth-child(4){width: 13vw;}
.about-chart-left div:nth-child(5){width: 8vw;}
.about-chart-left div:nth-child(6){width: 6vw;}
.about-chart-left div:nth-child(7){width: 3vw;}
.about-chart-left div:nth-child(8){width: 1vw;}

.about-chart-right{
    display: inline-block;
    text-align: -webkit-left;
    text-align: -moz-left;
}
.about-chart-right div{
    background: firebrick;
    margin: 1.5vh 0;
    height: 7.7vh;
}
.about-chart-right div:nth-child(1){width: 18vw; height: 1px; margin: 0 0 2vh}
.about-chart-right div:nth-child(2){width: 16vw;}
.about-chart-right div:nth-child(3){width: 15vw;}
.about-chart-right div:nth-child(4){width: 12vw;}
.about-chart-right div:nth-child(5){width: 9vw;}
.about-chart-right div:nth-child(6){width: 5vw;}
.about-chart-right div:nth-child(7){width: 1vw;}
.about-chart-right div:nth-child(8){width: 0;}

/**заголовки*/

.mobile h2{
    margin: 0;
    font-size: 2vh;
}
/*по размеру экрана*/
@media all and (max-width: 700px){
    .mobile{
        display: none;
    }
    .about-love-title{
        grid-column: 1/4;
        justify-self: center;
    }
    .about-hate-title{
        grid-column: 5/8;
        justify-self: center;
    }
    .about-inline h1{
        font-size: 1vh;
    }
}




/*.about-hate{*/
    /*grid-column: 6/8;*/
    /*grid-row: 2/7;*/
/*}*/


/*.about-inline h1{*/
    /*font-size: 2.5vh;*/
    /*margin: 0;*/
/*}*/
/*.about-inline h2{*/
    /*font-size: 2vh;*/
    /*margin: 0;*/
/*}*/
/*.about-inline td{*/
    /*font-size: 1.4vh;*/
/*}*/

/*.about-love{*/
    /*text-align: left;*/
    /*position: relative;*/
    /*float: left;*/
    /*width: 20%;*/
    /*height: 90%;*/
    /*margin-right: -10%;*/
/*}*/
/*.about-love h1,*/
/*.about-love h2{*/
    /*color: #52ac62;*/
/*}*/

/*.about-chart {*/
    /*position: relative;*/
    /*padding: 5vh 0 0;*/
    /*margin: 0;*/
    /*width: 70%;*/
    /*height: 90%;*/
/*}*/
/*.about-hate{*/
    /*text-align: right;*/
    /*position: relative;*/
    /*float: right;*/
    /*width: 20%;*/
    /*height: 90%;*/
    /*margin-left: -10%;*/
/*}*/
 /*.about-hate h1,*/
 /*.about-hate h2{*/
     /*color: #be4e45;*/
 /*}*/

/*table{*/
    /*width: 100%;*/
    /*height: 95%;*/
    /*//border: 1px solid crimson;*/
/*}*/

/*.content-about-to-contact{*/
    /*position: absolute;*/
    /*bottom: 3vh;*/
    /*margin: 0 auto;*/
    /*right: 0;*/
    /*left: 0;*/
/*}*/
/*.content-about-to-contact a{*/
    /*text-decoration: none;*/
    /*color: antiquewhite;*/
    /*padding: 20px 10px;*/
/*}*/

