.mail-anim {

    animation: 5s linear 0s normal none infinite running mail-anim;
}

@keyframes mail-anim {
    0% {
        transform: rotate(0deg) translate(0,0) scale(1.5);
    }
    25%{
        transform: rotate(30deg)  scale(1.3);
    }
    50%{
        transform: rotate(0deg) translate(0,0)  scale(1.5);
    }
    75%{
        transform: rotate(-30deg)  scale(1.3);
    }
    100% {
        transform: rotate(0deg) translate(0,0)  scale(1.5);
    }

}

.fb-anim{
    /*animation: продолжительность|временнАя функция|задержка|напрвление|стили|повтор|проигрывание|имя*/
    animation: 10s linear 2s normal none infinite running fb-anim;
}

.gh-anim{
    animation: 10s linear 4s normal none infinite running fb-anim;
}

.st-anim{
    animation: 10s linear 6s normal none infinite running fb-anim;
}


.tw-anim{
    animation: 10s linear 8s normal none infinite running fb-anim;
}


.vk-anim{
    animation: 10s linear 10s normal none infinite running fb-anim;
}

/*@keyframes fb-anim {*/
    /*from { transform: rotate(0deg) translateX(15vw)  rotate(0deg); }*/
    /*to   { transform: rotate(360deg) translateX(15vw) rotate(-360deg); }*/
/*}*/

@keyframes fb-anim {
    /*0%     { transform:  translateX(20vw) translateY(0); }*/
    /*25%     { transform:  translateX(0) translateY(20vh); }*/
    /*50%     { transform:  translateX(-20vw) translateY(0); }*/
    /*75%     { transform:  translateX(0) translateY(-20vh); }*/
    /*100%     { transform:  translateX(20vw) translateY(0); }*/
    0%     { transform:  translateX(0) translateY(-30vh); }
    20%     { transform:  translateX(20vw) translateY(-5vh); }
    40%     { transform:  translateX(20vw) translateY(25vh); }
    60%     { transform:  translateX(-20vw) translateY(25vh); }
    80%     { transform:  translateX(-20vw) translateY(-5vh); }
    100%     { transform:  translateX(0) translateY(-30vh); }



}