html,
body,
.root{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    /*background: #004f50;*/
    background: #00acad;
}
.content{
    position: relative;
}
.content-body{
    /*max-width: 1364px;*/
    /*min-width: 910px;*/
    /*margin: 0 auto;*/
    text-align: center;
}

.invisible{
    opacity:0;
}
.visible{
    opacity:1;
}

.watermark{
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
    font-size: 5.5vw;
    z-index: -1;
    opacity: 0.1;

    grid-column: 5/8;
    grid-row: 7/8;
    justify-self: end;
}

.next-link{
    /*position: absolute;*/
    /*bottom: 3vh;*/
    /*margin: 0 auto;*/
    /*right: 0;*/
    /*left: 0;*/

    grid-column: 3/6;
    grid-row: 7/8;
    align-self: center;

}

.next-link a{
    text-decoration: none;
    color: rgba(250,235,215,0.3);
    padding: 20px 42px;
    vertical-align: bottom;
}
.next-link a:hover{
    background: url("../img/png/down-arrow.png") no-repeat 0 13px;
    color: rgba(250,235,215,1);
}
#id-nav-hello-2 a:hover{
    background: url("../img/png/up-arrow.png") no-repeat 0 13px;
}
