/**ВВЕДЕНИЕ*/

.content-intro{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 100vh;
}
.some-words{
    grid-column: 2/5;
    grid-row: 6/7;
}

.code{
    grid-column: 5/8;
    grid-row: 2/7;

    border-radius: 5px;
    color: #000000;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    overflow: hidden;
}
.code-body{
    position: relative;
}
.code:hover .code-body{
    cursor: text;
    -webkit-animation: anim 15s ease 0s 1;
}

@-webkit-keyframes anim {
    0%   {top:0}
    100% {top:-3150px}
}


/*Парящий куб*/
.logo {
    grid-column: 2/5;
    grid-row: 2/6;

    cursor:pointer;
    width:40vw;
    height:55vh;
    position:relative;
    align-self: end;
    justify-self: center;
}

.wrapper {
    font-size:40px;
    line-height:140px;
    position: relative;
    top:25vh;
    margin: 0 auto;
    height:140px;
    width:140px;
    -webkit-transform-style: preserve-3d; /*Дочерние элементы будут отображаться в 3D-пространстве*/
    -webkit-transform-origin:50%; /*точка трансформации*/
    -webkit-animation-name: cycle_all; /*имя анимации ниже*/
    -webkit-animation-iteration-count: infinite; /*кол-во повторений*/
    -webkit-animation-timing-function: linear; /*прогрессия анимации*/
    -webkit-animation-duration: 12s; /*время анимации*/
}
.boxes {
     position:absolute;
     top:0;
     left:0;
     -webkit-transition: all 1s ease-in-out; /*переходное состояние: для всех|время|метод*/
 }
.aa {
    background: #363636;
    color:#fff;
    border-radius:80px;
    position:absolute;
    top:-200px;
    left:0;
    height:140px;
    width:140px;
    text-align:center;
    -webkit-box-shadow: rgba(0,0,0,0.08) 1px 1px 2px 3px;
    -webkit-animation-name: cycle_a;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1.4s;
    -webkit-transition:all 0.8s ease-in-out;
}
.tags {
    position: relative;
    top:25vh;
    margin: 0 auto;
    color: white;
    font-size: 25px;
    line-height:160px;
    height:100px;
    width:100px;
    opacity:0;
    -webkit-transition: all .5s ease-out;
    -webkit-transition-delay: 0.30s;
}
.tag {
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    -webkit-animation-name: tag;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 3.1s;
}
.tag:nth-child(1) {
    -webkit-animation-delay:0s;
}
.tag:nth-child(2) {
    -webkit-animation-delay:.5s;
}
.tag:nth-child(3) {
    -webkit-animation-delay:1s;
}
.tag:nth-child(4) {
    -webkit-animation-delay:1.5s;
}
.tag:nth-child(5) {
    -webkit-animation-delay:2s;
}
.tag:nth-child(6) {
    -webkit-animation-delay:2.5s;
}
.zero,
.one,
.two,
.three,
.four,
.five{
    border-radius:2px;
    position:absolute;
    top:0;
    left:0;
    width: 140px;
    height: 140px;
    opacity:0.50;
    line-height:140px;
    text-align:center;
    color:#fff;
    -webkit-transition: all 1s ease-in-out;
}


.zero{
    background:green;
    -webkit-transform: rotateX(90deg) translateZ(70px);
}
.one{
    background: #a30000;
    -webkit-transform: rotateX(90deg) translateZ(-70px);
}
.two{
    background: #000000;
    -webkit-transform: rotateY(0deg) translateZ(70px);
}
.three{
    background:purple;
    -webkit-transform: rotateY(90deg) translateZ(70px);
}
.four{
    background:blue;
    -webkit-transform: rotateY(-180deg) translateZ(70px);
}
.five{
    background:darkblue;
    -webkit-transform: rotateY(270deg) translateZ(70px);
}


.logo:hover .aa {
    top:-250px;
}
.logo:hover .tags {
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin:50%;
    -webkit-transform:  rotateX(-200deg) rotateY(-180deg) rotateZ(-180deg);
    top: 12vh;
    opacity:1;
}

.logo:hover .box {
    background:gray;
    opacity:0.25;
}

.logo:hover .zero{
    -webkit-transform: rotateX(90deg) translateZ(-70px);
}
.logo:hover .two{
    -webkit-transform: rotateX(90deg) rotateY(0deg) translateY(140px) translateZ(-70px);
}
.logo:hover .three{
    -webkit-transform: rotateZ(270deg) rotateY(90deg) translateY(140px) translateZ(-70px);
}
.logo:hover .four{
    -webkit-transform: rotateX(270deg) rotateY(-180deg) translateY(140px) translateZ(-70px);
}
.logo:hover .five{
    -webkit-transform: rotateZ(90deg) rotateY(270deg) translateY(140px) translateZ(-70px);
}






@-webkit-keyframes cycle_all {
    from {
        -webkit-transform: rotateX(-25deg) rotateY(0deg);
    }
    to {
        -webkit-transform: rotateX(-25deg) rotateY(360deg);
    }
}

@-webkit-keyframes cycle_aa {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
    }
}

@-webkit-keyframes tag {
    0%   {opacity:1}
    100% {opacity:0; top:-140px}
}

@media all and (max-width: 700px){
    .some-words,
    .logo{
        grid-column: 2/7;
    }
    .code{
        display: none;
    }

}


