/*НАВЫКИ*/
.content-skills{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 100vh;
}

.skills-body{
    display: inline-block;
}
.skills-words{
    grid-column: 2/6;
    grid-row: 6/7;
}
.skills-canvas{
    grid-column: 2/6;
    grid-row: 2/6;
    position: relative;

}
.skills-info{
    font-size: 1.5vh;
    text-align: left;
    grid-column: 6/8;
    grid-row: 2/6;
}

/*Бриллиант*/
.diamond{
    height: 50vh;
    max-width: 50vw;
    cursor: default;
}
/*Стилёк для тела бриллианта*/
.diamond-body{
    opacity: 1;
    transition: opacity 2s;
}
#down_1{fill: #baffcb;}
#down_2{fill: #b9f2ff}
#down_3{fill: #bacbff}
#up_1{fill: #71c41d}
#up_2{fill: #4cb6d9}
#up_3{fill: #d9d94c}
#up_4{fill: #924cd9}
#up_5{fill: #c41d9b}

/*Стилёк для гравировки бриллианта*/
.diamond-txt{
    opacity: 0;
    font-family: "PT Serif", sans-serif;
    transition: opacity 2s;
}
.diamond-txt tspan{
    alignment-baseline:before-edge;
    dominant-baseline:text-before-edge;
    text-anchor: start;
}

/*Проявление текста при наведении*/
.diamond:hover .diamond-txt{
    opacity: 1;
}

/*Затухание брилиана при наведении*/
.diamond:hover .diamond-body{
    opacity: 0.2;
}

@media all and (max-width: 700px){
    .skills-info{
        display: none;
    }
    .skills-canvas{
        grid-column: 1/8;
    }
    .diamond{
        max-width: 70vw;
    }
    .skills-words{
        grid-column: 2/7;
    }
}