/*НАВЫКИ*/
.content-skills{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 100vh;
}

.skills-body{
    display: inline-block;
}
.skills-words{
    grid-column: 2/6;
    grid-row: 6/7;
}
.skills-canvas{
    grid-column: 2/6;
    grid-row: 2/6;
    position: relative;

}
.skills-info{
    font-size: 1.5vh;
    text-align: left;
    grid-column: 6/8;
    grid-row: 2/6;
}

/*Бриллиант*/
.diamond{
    height: 50vh;
    width: 50vw;
    cursor: default;
}

/*Проявление текста при наведении*/
.diamond:hover #a6jVNKt85j{
    animation: 3s ease-out 0s normal forwards opacity-on;
    -moz-animation: 3s ease-out 0s normal forwards opacity-on;
}
.diamond:hover #bHGpCDjWM{
    animation: 3s ease-out 0s normal forwards opacity-on;
    -moz-animation: 3s ease-out 0s normal forwards opacity-on;
}
.diamond:hover #jpD6ve0FX{
    animation: 3s ease-out 0s normal forwards opacity-on;
    -moz-animation: 3s ease-out 0s normal forwards opacity-on;
}
.diamond:hover #bP2DrPaFZ{
    animation: 3s ease-out 0s normal forwards opacity-on;
    -moz-animation: 3s ease-out 0s normal forwards opacity-on;
}
.diamond:hover #b98MRMWJBZ{
    animation: 3s ease-out 0s normal forwards opacity-on;
    -moz-animation: 3s ease-out 0s normal forwards opacity-on;
}
.diamond:hover #flxq0fEPN{
    animation: 3s ease-out 0s normal forwards opacity-on;
    -moz-animation: 3s ease-out 0s normal forwards opacity-on;
}
.diamond:hover #kcUsZoh0C{
    animation: 3s ease-out 0s normal forwards opacity-on;
    -moz-animation: 3s ease-out 0s normal forwards opacity-on;
}
.diamond:hover #c2xoN7NE7w{
    animation: 3s ease-out 0s normal forwards opacity-on;
    -moz-animation: 3s ease-out 0s normal forwards opacity-on;
}

/*Затухание брилиана при наведении*/
.diamond:hover #down_1{
    animation: 3s ease-in 0s normal forwards opacity-off;
    -moz-animation: 3s ease-in 0s normal forwards opacity-off;
}
.diamond:hover #down_2{
    animation: 3s ease-in 0s normal forwards opacity-off;
    -moz-animation: 3s ease-in 0s normal forwards opacity-off;
}
.diamond:hover #down_3{
    animation: 3s ease-in 0s normal forwards opacity-off;
    -moz-animation: 3s ease-in 0s normal forwards opacity-off;
}
.diamond:hover #up_1{
    animation: 3s ease-in 0s normal forwards opacity-off;
    -moz-animation: 3s ease-in 0s normal forwards opacity-off;
}
.diamond:hover #up_2{
    animation: 3s ease-in 0s normal forwards opacity-off;
    -moz-animation: 3s ease-in 0s normal forwards opacity-off;
}
.diamond:hover #up_3{
    animation: 3s ease-in 0s normal forwards opacity-off;
    -moz-animation: 3s ease-in 0s normal forwards opacity-off;
}
.diamond:hover #up_4{
    animation: 3s ease-in 0s normal forwards opacity-off;
    -moz-animation: 3s ease-in 0s normal forwards opacity-off;
}
.diamond:hover #up_5{
    animation: 3s ease-in 0s normal forwards opacity-off;
    -moz-animation: 3s ease-in 0s normal forwards opacity-off;
}

@-webkit-keyframes opacity-on  {0%   {opacity:0; fill-opacity: 0} 100% {opacity:1;   fill-opacity: 1}}
@-moz-keyframes opacity-on  {0%   {opacity:0; fill-opacity: 0} 100% {opacity:1;   fill-opacity: 1}}
@-o-keyframes opacity-on  {0%   {opacity:0; fill-opacity: 0} 100% {opacity:1;   fill-opacity: 1}}
@keyframes opacity-on  {0%   {opacity:0; fill-opacity: 0} 100% {opacity:1;   fill-opacity: 1}}

@-webkit-keyframes opacity-off {0%   {opacity:1} 100% {opacity:0.2}}
@-moz-keyframes opacity-off {0%   {opacity:1} 100% {opacity:0.2}}
@-o-keyframes opacity-off {0%   {opacity:1} 100% {opacity:0.2}}
@keyframes opacity-off {0%   {opacity:1} 100% {opacity:0.2}}

@media all and (max-width: 700px){
    .skills-info{
        display: none;
    }
    .skills-canvas{
        grid-column: 1/8;
    }
    .diamond{
        width: 70vw;
    }
    .skills-words{
        grid-column: 2/7;
    }
}